mixin icon(iconName, iconClass)
  svg(class=`${iconClass}`)
    use(xlink:href=`/assets/images/icons/sprite.svg#${iconName}`)


mixin image(imagePath, imageAlt, imageClass)
  img(src=`/assets/images/${imagePath}`, alt=`${imageAlt}`, class=`${imageClass}`)


mixin socials(mod)
  - var className = 'socials'
  ul(class=`${className} ${mod}`)
    each link, name in socialItems
      li(class=`${className}__item`)
        a(class=`${className}__link` href=`${link}` target="_blank")
          +icon(`${name}`, `${className}__icon`)


mixin menu(items, className, mod)
  nav(class=`${className} ${mod}`)
    ul(class=`${className}__list`)
      each item in items
        li(class=`${className}__item`)
          a(class=`${className}__link` href=`${item.link}`) #{item.name}


mixin user(photo, name, text, mod)
  div.user(class=`${mod}`)
    .user__photo(style=`background-image: url('${photo}');`)
    .user__description
      .user__title= name
      .user__text= text


mixin contacts(mod)
  .contacts(class=`${mod}`)
    if mod==='extend'
      .contacts__title
        h2.subtitle Контакты
    ul.contacts__list
      each contact in contactsList
        li.contacts__item
          a.contacts__link(href=`${contact.link}`)
            if mod==='extend'
              +icon(contact.icon, 'contacts__icon')
            .contacts__info #{contact.info}